.company {
    display: inline-block;
    width: 880px;
}

.company__img   {
    width: 882px;
    height: 355px;
    background-image: url('../../img/jpg/about-img_black.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    /* background: url('/img/jpg/about-img.jpg') center center no-repeat;
    то же самое в одну строчку! */
    background-size: cover; 
    position: relative;
}  

.company__text {
    color:white;
    font-size: 49px;
    font-weight: bold;
    position: absolute;
    left: 66px;
    top: 163px;
}

.text__bold {
    font-weight: bold;
}

.main__text {
    line-height: 1.7em;
}

.main__text p {
    line-height: 1.7em;
    margin: 16px 1px 13px;
}

.main__text-white {
    width: 700px;
}

.main__text-white ul {
    margin-top: -10px;
}

.main__text-white ul li {
    list-style: disc;
    list-style-position: inside;
    margin-left: 18px;
    margin-bottom: 5px;

}

.main__text-black {
    background-color: #221f1f;
    color: #fff;
    padding: 10px;
    margin-top: 25px; 
    width: 700px;
    padding-left: 31px;
}

.partners__title h1 {
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
    margin: 78px 1px 56px;
    
}

.partners {
    margin-bottom: 38px;
}

.partners__logo {
    display: inline-block;
    width: 160px;
    height: 70px;
    text-align: center;
    margin: 0px 105px 9px 0px;
    box-sizing: border-box;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
}

.grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}